.d-r-p *{
	font-family: sans-serif;
	box-sizing: border-box;
}


.d-r-p .normal{
	border:1px solid white;
}

.d-r-p .disabled{
	background: white;
	border: 1px solid white;
	color: rgb(0,0,0,0.4);
}

.d-r-p .hovered{
	background: #fdebe2;
	border:1px solid #fdebe2;
}

.d-r-p .selected{
	background: #f36e33;
	border: 1px solid #f36e33;
	color: white
}


.d-r-p i.arrow{
  border: solid black;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 3px;  
}

.d-r-p .right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.d-r-p .left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.d-r-p .up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.d-r-p .down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}