.Selectable .DayPicker-Day--selected:not(.DayPicker-Day--start):not(.DayPicker-Day--end):not(.DayPicker-Day--outside) {
  background-color: #f0f8ff !important;
  color: #4a90e2;
}
.Selectable .DayPicker-Day {
  border-radius: 0 !important;
}
.Selectable .DayPicker-Day--start {
  border-top-left-radius: 50% !important;
  border-bottom-left-radius: 50% !important;
}
.Selectable .DayPicker-Day--end {
  border-top-right-radius: 50% !important;
  border-bottom-right-radius: 50% !important;
}

.table-top-header{
	background: #f9f9f9;
	height: 33px;
	font-family: Helvetica Neue;
	font-size: 25px;
	font-weight: 400;
	line-height: 33px;
	color: #333333;	
	margin: 0;
}

.color-bar{
	position: relative;
}

.dialog-box{
	position: absolute;
	display: none;
}

.color-bar:hover .dialog-box{
	display: block;
}

@media only screen and (min-width: 1242px) {
    /* STYLES HERE */
    .cancellation-box {
    	background: red;
    }
    .margin-changer {
    	margin-left: 10px
    }
}

@media only screen and (max-width: 1242px)  {
    /* STYLES HERE */
    .cancellation-box {
    	background: blue;
    }
    .margin-changer {
    	margin-left: 6px;
    }    
}