body {
  margin: 0;
  padding: 0;
  font-family: 'Helvetica', sans-serif;
  color: #4d4d59;
  line-height: 1.428571429;
}
html{
	font-size:12px;
}

.App i.arrow{
  border: solid black;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 3px;  
}

.App i.tick-x{
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  width: 3px;
  height: 6px; 
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);  
}

.App .dropdown-container{
  position: relative;
}

.App .clickable-dropdown-container{
  position: relative;
}

.App .dropdown-content{
  position: absolute;
  display: none;
}

.App .dropdown-container:hover .dropdown-content{
  display: block;
}

.App .clickable-dropdown-container.active .dropdown-content{
  display: block;
}

.App .light-blue-hover{
  cursor: pointer;
}

.App .light-blue-hover:hover{
  background: #eff7ff;
}

.App .light-blue-hover.active{
  background: #eff7ff;
}
.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.time-dropdown {
  box-sizing: border-box;
  vertical-align: top;
  width: 160px;
  position: relative;
  border: 1px solid #cccccc;
  padding: 2px 2px 2px 4px;
  margin: 8px 0px;
}
.time-dropdown-content {
  box-sizing: border-box;
  display: none;
  position: absolute;
  left:-1px;
  top:21px;
  background: white;
  border: 1px solid #ccc;
  z-index: 1;
}


.table-top-header{
  background: #f9f9f9;
  height: 33px;
  font-family: Helvetica Neue;
  font-size: 25px;
  line-height: 33px;
  color: #333333; 
  margin: 0;
}

.time-dropdown:hover .time-dropdown-content {
  display: block;
}

.page-top-header{
  text-align: left;
  font-weight: 600;
  line-height: 1.1
}


@media only screen and (min-width: 567px) {
    .page-top-header{
      font-size: 36px;
    }
}

@media only screen and (max-width: 567px)  {
    .page-top-header{
      font-size: 25px;
    }    
}

.App .clickable{
  cursor: pointer;
}

.App .hidden{
  display: none;
}

.flex.between{
  justify-content: space-between;
}

.flex{
    display: flex;
}

.flex.vertical-center{
    align-items: center;
}

.width-60{
    width: 60px;
    box-sizing: border-box;    
}

.width-70{
    width: 70px;
    box-sizing: border-box;    
}

.width-80{
    width: 80px;
    box-sizing: border-box;    
}

.width-94{
    width: 94px;
    box-sizing: border-box;
}

.width-116{
    width: 116px;
    box-sizing: border-box;
}

.width-250{
    width: 250px;
    box-sizing: border-box;    
}

.size-10{
    font-size: 10px;
}

.right-align{
    text-align: right;
}

.blue{
    color: #337ab7;
}

.gray{
    color: #a2b2c1;
}

.space-between{
    display: flex;
    justify-content: space-between;
}

.add-one-more-button{
    display: inline-block;
    cursor: pointer;
    width: 38px;
    height: 38px;
    line-height: 38px;
    background: #337ab7;
    color: white;
    border-radius: 19px;
    text-align: center;
    font-size: 24px;
    font-family: "Times New Roman";
}

.selection-tab-container{
    display: flex;
    border-radius: 16px;
    height: 34px;
    border: 1px solid rgb(235, 235, 235);
    background: #eff7ff;
    color: #337ab7; 
    padding: 0px 7px;
    box-sizing: border-box;
}

.selection-tab{
    height: 32px;
    line-height: 32px;
    font-size:14px; 
    padding: 0 16px;
    cursor: pointer;
}

.selection-tab.in-focus{
    position: relative;
    top: -3px;
    height: 38px;
    line-height: 38px;
    background: #337ab7;
    border-radius: 18.5px;
    color: rgba(255, 255, 255, 0.96);
}

.inline-block{
    display: inline-block;
}

.radio-x{
    width: 20px;
    height: 20px;
    border-radius: 10px;
    border: 2px solid #337ab7;
    box-sizing: border-box;
    line-height: 18px;
    text-align: center;
    opacity: 0.54;
    cursor: pointer;
}

.radio-x .radio-x-inner{
    display: none;
}

.radio-x.active{
    opacity: 1;
}

.radio-x.active .radio-x-inner{
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background: #337ab7;
    display: inline-block;
}

.light-blue-background{
    background: #eff7ff;
}

.tax-breakdown .dropdown-content{
    border: 1px solid #337ab7;
    border-radius: 4px;
    right: -10px;
    top: 44px;
    background: white;
    color: #9b9b9b;
    width: 188px;
    z-index: 1;
    box-sizing: border-box;    
    font-size: 12px;
}

.tax-breakdown-line{
    border-bottom: 1px solid #9b9b9b;
    padding: 2px 8px 4px;
}

.tax-breakdown-line:nth-last-child(1){
    border-bottom: none;
}

.tax-breakdown input{
    width: 50px;
    margin-left: 1px;
}

.width-24{
    width: 24px;
    font-size: 10px;
    box-sizing: border-box;
    text-align: right;    
}

/**************************************************************************/
.dropdown-container {
  position: relative;
}

.clickable-dropdown-container {
  position: relative;
  cursor: pointer;
}

.dropdown-content {
  position: absolute;
  display: none;
  z-index: 2;
}

.dropdown-container:hover .dropdown-content,
.clickable-dropdown-container.active .dropdown-content {
  display: block;
}